captcha==0.4
cryptography==40.0.2
gTTS==2.3.2
keyboard==0.13.5
langdetect==1.0.9
mouse==0.7.1
moviepy==1.0.3
opencv-python==4.7.0.72
Pillow==9.5.0
ping3==4.0.4
pdfrw==0.4
playsound==1.3.0
PyAudio==0.2.13
pytube==12.1.3
pywin32==306
pywin32-stubs==1.0.7
pywhatkit==4.6
requests==2.29.0
SpeechRecognition==3.10.0
speedtest-cli==2.1.3